div.show-delete-button {
    position: relative;
    float:left;
    margin:5px;}

div.show-delete-button:hover button
  {
  display: block;
  }

div.show-delete-button button {
    position:absolute;
    top:0;
    right:0;
    display:none;
}